@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Base rules */

:root {
  font-size: 10px;
  --ff-text: "Noto Sans", Arial, Helvetica, sans-serif;
  --ff-headings: Eczar, "Times New Roman", Times, serif;
  --clr-light-grey: #8e8e8e;
  --clr-accent: #ffff00;
  --global-padding: 4rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  font-weight: 800;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  margin-top: 3rem;
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

a,
a:visited {
  color: var(--clr-light-grey);
}

/* Layout rules */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 2rem;
  font-family: var(--ff-text);
  line-height: 1.8;
}

.site-header {
  display: flex;
  justify-content: space-between;
  min-height: 6rem;
  padding-inline: var(--global-padding);
  background-color: #000;
  color: #fff;
}

.main-content {
  flex: 1;
}

.site-footer {
  display: flex;
  align-items: center;
  min-height: 4rem;
  padding-inline: var(--global-padding);
  background-color: var(--clr-accent);
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
}

.site-footer > * {
  flex: 1;
}

/* Component rules */

.site-title {
  position: relative;
  bottom: -0.1rem;
  display: flex;
  align-items: center;
}

.main-navigation * {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-navigation ul {
  gap: 4rem;
}

.main-navigation a {
  color: var(--clr-light-grey);
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.1s ease-in;
}

.main-navigation a:hover,
.main-navigation a:active {
  color: #fff;
}

.main-navigation a.active {
  box-sizing: border-box;
  border-top: solid 4px transparent;
  border-bottom: solid 4px var(--clr-accent);
  color: var(--clr-accent);
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px 400px;
}

.menu-content {
  display: grid;
  padding: var(--global-padding);
}

.contact-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: var(--global-padding);
}

.menu-content h2:first-child,
.contact-content h2:first-child {
  margin-top: 0;
}

.hero-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 2;
  padding: var(--global-padding);
  background-image: url("./images/hero-image.jpg");
  background-size: cover;
  background-position-y: center;
  color: #fff;
}

.hero-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
  content: "";
}

.hero-banner * {
  position: relative;
}

.hero-banner .banner-text {
  font-size: 5rem;
}

.button,
.button:visited {
  display: inline-block;
  padding: 0.2em 2rem;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 0.2em;
  background-color: var(--clr-accent);
  text-decoration: none;
  color: #000;
  transition: background-color 0.1s ease-in;
}

.button:hover,
.button:focus {
  background-color: #afaf0e;
  cursor: pointer;
}

.hero-banner .button {
  align-self: flex-start;
  margin-top: 0.5em;
}

.featured-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--global-padding);
}

.featured-quote blockquote {
  font-style: italic;
}

.featured-quote blockquote > footer {
  color: var(--clr-light-grey);
}

.featured-quote blockquote > footer::before {
  content: "–";
  margin-right: 0.4em;
}

.featured-picture > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.opening-hours-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.opening-hours-grid > dd {
  text-align: right;
}
